-
  var servicesList = [
    {logoUrl: 'img/statistic.png', title: 'STATISTICS', imageUrl: 'img/services.png', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.'},
    {logoUrl: 'img/inbox.png', title: 'INBOX', imageUrl: 'img/services.png', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.'},
    {logoUrl: 'img/team.png', title: 'TEAM', imageUrl: 'img/services.png', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.'},
    {logoUrl: 'img/settings.png', title: 'SETTINGS', imageUrl: 'img/services.png', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.'},
    {logoUrl: 'img/feed.png', title: 'FEED', imageUrl: 'img/services.png', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.'},
  ]
.services.block
  .services__wrapper.block-wrapper
    .services__top
      .services__top-title Services
      .services__top-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    .services__bottom
      .services__list
        each item, index in servicesList           
          .services__item
            .services-item.js-services-item
              .services-item__top.js-services-item-top
                a.services-item__link(href="#")
                  img.services-item__logo(src=item.logoUrl)
                  .services-item__title=item.title
              if (index != 0)    
                .services-item__bottom.js-services-item-bottom(style={display: 'none'})
                  .services-item__side
                      img.services-item__side-img(src=item.imageUrl)
                  .services-item__main
                    .services-item__main-description=item.description
              else
                .services-item__bottom.js-services-item-bottom.opened
                  .services-item__side
                    img.services-item__side-img(src=item.imageUrl)
                  .services-item__main
                    .services-item__main-description=item.description          